#VideoWatch {
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  background-color: #fff;
  border: 1px #c4c4c4 solid;
}
#VideoWatch .midia {
  width: 100%;
}
#VideoWatch .midia__video {
  display: block;
  width: 100%;
}

#VideoWatch .video-infos {
  min-height: 215px;
  display: flex;
  flex-direction: column;
  padding: .6rem;
}
#VideoWatch .video-infos > * {
  margin: .5rem 0;
}

#VideoWatch .video-infos__title {
  font-weight: bold;
  font-size: 1.3rem;
}
