#Home {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  min-width: 280px;
  max-width: 1296px;
  margin: 0 auto;
  justify-content: center;
  padding: 2rem 1rem;
}

@media screen and (max-width: 840px){
  #Home {
    width: 100%;
  }
}