#VideoHome {
  font-family: 'Open Sans', sans-serif;
  max-width: 300px;
  background-color: #fff;
  border: 1px #c4c4c4 solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem .5rem;
  margin: .5rem;
  cursor: default;
}
@media screen and (max-width:663px){
  #VideoHome {
    max-width: 100%;
  }
}

#VideoHome .title {
  cursor: pointer;
  font-weight: bold;
  margin: .5rem 0;
  text-align: center;
  min-height: 2rem;
  font-size: 1rem;
}

#VideoHome .midia {
  width: 100%;
}
#VideoHome .midia__video {
  display: block;
  width: 100%;
}

#VideoHome .infos {
  padding: .6rem;
}
#VideoHome infos > * {
  margin: .5rem 0;
}

#VideoHome .infos__description {
  padding: .4rem 0;
  font-size: .8rem;
}
