#Header {
  --font-color: #ecf0f1;
  width: 100%;
  min-width: 280px;
  background-color: #34495e;
  color: #ecf0f1;
}

#Header .container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

#Header .logo {
  flex: 1;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 250px;
}
#Header .logo__link {
  font-size: 2rem;
}

#Header .user {
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  padding: .5rem 1rem;
  width: 13%;
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#Header .user__infos{
  display: flex;
  align-items: center;
}

#Header .user__infos__username {
  margin: 0 .5rem;
  cursor: default;
}

#Header .user__infos__icon {
  fill: var(--font-color);
}

@media screen and (max-width: 501px) {
  #Header .container {
    width: 100%;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 401px) {
  #Header .user {
    padding: .1rem 0;
  }
}
