.Login {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.form-login {
  background-color: #c4c4c4;
  width: 300px;
  padding: 1rem .6rem;
  display: flex;
  flex-direction: column;
}
.input-content {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.form-login__btn-login{
  align-self: center;
  flex-grow: 2;
}
