#WatchVideo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  max-width: 1360px;
  padding: 2rem 0;
  margin: 0 auto;
}

#WatchVideo .main-video {
  width: 70%;
  margin: 0 1rem 1rem 1rem ;
  min-width: calc(360px);
}

@media screen and (max-width: 1360px){
  #WatchVideo {
    width: 100%;
  }


}
@media screen and (max-width: 678px){
  #WatchVideo .main-video {
    width: 100%;
  }
}
