#Video{
 font-family: 'Open-sans',sans-serif;  
 text-align: left;
 height: 255px;
 width: 210px;
 cursor: pointer;
 padding: 1rem .625rem;
 margin: 1rem auto;
 border: 1px #cfcfcf solid;
 background-color: #f5f5f5;
 display: flex;
 flex-direction: column;
 align-items: stretch;
}

/* Title */
.video__title {
  text-align: center;
}

/* Player */
.video .video__player{
  display: flex;
}

.video .video__player video {
  align-self: center;
  width: 185px;
  height: 115px;
  margin: 0 auto;
}

/* Ratting */
.video__rating {
  padding: .5rem .3rem;
}
.video__rating .fa.is-colored {
  color: #f9bc39;
}

/* Description */
.video .video__description {
  font-size: 1rem;
  overflow: auto;
  flex: 1;
}

.video .video__description {
  font-size: .8rem;
}
