@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans|Roboto');
* {
  box-sizing: border-box;
}

#root{
  background-color: #ecf0f1;
}
a {
	text-decoration: none;
	color: inherit;
}